@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --background-color: rgb(253, 252, 251);
  /* --text-color: rgb(15, 15, 15); */
  --text-color: #1a1c1a;
  --text-color2: rgb(99, 102, 99);
  --detail-color: #e2919f;
  --detail-color2: #b86b78;
  /* --background-color2: rgb(247, 242, 244); */
  --background-color2: rgb(235, 224, 228);
  --background-color3: rgb(238, 235, 236);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* margin: 10px; */
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  color: var(--text-color);
  background-color: var(--background-color);
}

.shadow {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  /* display: none; */
  /* visibility: hidden; */
  z-index: 1;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

.shadow.active {
  /* display: block; */
  opacity: 0.4;
  /* visibility: visible; */
  pointer-events: all;
}

header {
  /* position: relative; */
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  z-index: 2;
  top: -450%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  /* width: 100%; */
  width: 100vw;
  padding: 10px;
  transition: top 300ms ease-in-out;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.1rem;

  /* position: absolute;
  z-index: 2;
  top: -100%;
  left: 50%;
  transform: translateX(-50%); */
}

nav.active {
  top: 0;
}
/* nav ul.active {
  top: 0;
} */

nav ul a {
  background: linear-gradient(0deg, var(--detail-color), var(--detail-color))
    no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding: 0 6px 0 6px;
}

nav ul a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.resume {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  overflow: hidden;
}

/* .resume:hover {
  grid-template-rows: auto 1fr 1fr;
} */

.resume div {
  grid-row: 1;
  color: var(--text-color2);
}

.pt,
.en {
  background-color: var(--background-color3);
}

.pt {
  grid-row: 2;
}

.en {
  grid-row: 3;
}

.burger {
  padding-top: 6px;
  padding-bottom: 2px;
  width: 100vw;
  background-color: var(--background-color);
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 8px;
  padding-top: 40px;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.title-container {
  width: min(100%, 530px);

  /* background by SVGBackgrounds.com */
  background-color: #fdfffd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='399' height='47.9' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23E2919F' stroke-width='4.3' stroke-opacity='0.49'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 150px;
  margin-bottom: 45px;
}

.first-name {
  text-align: left;
}

.last-name {
  text-align: center;
}

.first-name,
.last-name {
  font-size: clamp(51px, 8vw, 5rem);
  font-weight: 600;
}

.developer {
  text-align: right;
  font-size: clamp(12px, 7vw, 6rem);
  font-size: clamp(26px, 3vw, 2.6rem);
  font-weight: 200;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: underline 3px solid var(--detail-color);
}

h3 {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: underline 3px solid var(--detail-color);
}

.project-title {
  margin-top: 90px;
}

.portrait {
  max-width: min(69vw, 350px);
  border-radius: 185px;
  box-shadow: -2px 2px 5px #d3d3d3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
}

.projects-description {
  margin-bottom: 90px;
  margin-top: 90px;
  font-size: 1.3rem;
}

.project {
  margin: 30px auto 30px auto;
}

.about-me-container {
  margin: 75px auto 100px auto;
  max-width: 90vw;
}

.about-me-container p {
  text-align: left;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 33px;
  margin-top: 33px;
}

.screenshot {
  width: min(90vw, 500px);
  border-radius: 10px;
  box-shadow: -3px 3px 6px #d3d3d3;
}

.description {
  max-width: 90vw;
  width: 100%;
}

.tech {
  padding-top: 14px;
}

.button {
  padding: 6px 10px;
  border-radius: 21px;
  border: 2px solid var(--detail-color);
  font-weight: 500;
}

.live {
  background-color: var(--detail-color);
  color: var(--background-color);
  transition: background-color 300ms, border 300ms;
}

.live:hover {
  background-color: var(--detail-color2);
  border: 2px solid var(--detail-color2);
}

.code {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 300ms;
}

.code:hover,
button:hover,
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: var(--background-color2);
}

.button-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  background-color: var(--detail-color);
  color: var(--background-color);
  /* width: 100vw; */
  /* padding-bottom: 42px; */
  margin-top: 69px;
  position: relative;
}

footer h2 {
  padding: 20px;
  font-size: 2rem;
}

.form-container {
  padding-bottom: 69px;
}

input,
textarea {
  display: block;
  width: min(400px, 80vw);
  font-family: inherit;
  margin: 10px auto 10px auto;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  outline: none;
  padding: 4px;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: 1.1rem;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
}

@media (min-width: 900px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 53px;
  }

  .wrapper {
    flex-direction: row-reverse;
  }

  .resume {
    display: grid;
    grid-template-rows: auto 0 0;
    overflow: hidden;
  }

  .resume:hover {
    grid-template-rows: auto 1fr 1fr;
  }

  .resume div {
    color: var(--text-color);
  }

  .pt,
  .en {
    font-size: 0.9rem;
    background-color: var(--background-color);
  }

  .burger {
    display: none;
  }

  main {
    padding-top: 69px;
  }

  .project-wrapper {
    flex-direction: row-reverse;
  }

  .copyright {
    font-size: 0.85rem;
  }
}
